.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 78vh;
    height: 78vh;
}

.grid-item {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
}

.square {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.square img {
    width: 80%;
    height: 80%;
}